[Unit]
Description={{ application_name }}
After=network.target

[Service]
ExecStart={{ application_start_script }}
Restart=always

Environment=PORT={{ application_port }}
Environment=DB_CONNECTION_STRING={{ database_connection_string }}

[Install]
WantedBy=multi-user.target